ul li{
    line-height: 50px;
    background: #ccc;
    margin: 1px 0;
    list-style-type: none;
    padding: 0px 10px;
}

ul li span{
    margin-right: 50px ;
}

#message{

    padding: 20px 10px;
    font-weight: bold;
    margin: 10px;
    display: none;
}

.success{
    background-color: green;
    color: #fff;
    
}
.error{
    background-color: red;
    color: #000;
}